pub_key: {{ solana_exporter.pub_key }}
vote_pub_key: {{ solana_exporter.vote_pub_key }}
network_rpc_endpoint: {{ solana_exporter.network_rpc_endpoint }}
validator_rpc_endpoint: {{ solana_exporter.validator_rpc_endpoint }}
solana_binary_path: {{ solana_exporter.solana_binary_path }}

sleep_time: 45
metric_port: {{ solana_exporter.ports.metric_port }}

thread_pool_size: 2
log_level: DEBUG
retry: 10
