{{ define "__subject" }}[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ range .Alerts }}{{ .Labels.alertname }} ({{ .Labels.instance }} {{ .Labels.env }} {{ .Labels.type }} {{ .Labels.project }} {{ .Labels.filename }}){{ end }}{{ end }}
