server:
  http_listen_port: {{ promtail.ports.http_listen_port }}
  grpc_listen_port: {{ promtail.ports.grpc_listen_port }}

positions:
  filename: {{ promtail_position_file_path }}

clients:
  - url: http://localhost:3100/loki/api/v1/push

scrape_configs:
  - job_name: opt_logs
    static_configs:
      - targets:
        - localhost
        labels:
          job: opt_logs
          host: {{ ansible_hostname }}
          __path__: /opt/*/log/*.log
          __path_exclude__: /opt/*/log/*.*.log
