# Defines the global configuration options for Prometheus.
global:
  # This sets the default interval at which Prometheus will scrape metrics from its targets (every 15 seconds).
  scrape_interval: 30s
  # This sets how frequently Prometheus evaluates its rules (every 15 seconds).
  evaluation_interval: 15s
  scrape_timeout: 25s

# Specifies the list of rule files for recording or alerting rules.
rule_files:
  - "{{ prometheus_alert_dir }}/*.yml"

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - {{ prometheus_alert_manager_url }}
      basic_auth:
        username: "{{ vault.default.auth_user }}"
        password: "{{ vault.prometheus.alert_manager_auth_password }}"

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['localhost:{{ node_exporter.ports.web_listen_address }}']

  - job_name: 'solana_exporter'
    static_configs:
      - targets: ['localhost:{{ solana_exporter.ports.metric_port }}']
    relabel_configs:
      - source_labels: [__address__]
        target_label: project
        replacement: 'solana'
